@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Roboto:wght@400;500&display=swap');
.html
{
    overflow:scroll;
}
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  

.body
{
    background-color:white;
    scroll-behavior: smooth;
}

.intro
{
    padding:1%;
    border-radius: 5%;
    background-color: rgba(249, 249, 255, 0.471);
}
.nav_bar
{
    justify-content: center;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav_bar ul li
{
    display:inline-block;
    list-style: none;
    margin: 1rem 3rem;
}

.nav_bar ul li a
{
    font-size: 1.5rem;
    font-family: 'Roboto';
    text-decoration: none;
    color: black;
}
.nav_bar ul li a:hover
{
    color: rgb(255, 0, 89);
}


.introduction{
    font-family: 'Roboto';
    font-weight:bold;
    justify-content: center;
    font-size:5rem;
    margin-bottom:auto;
    text-align: center;
  }
  
span
{
    color: rgb(255, 0, 89);
}
.headline
{
    font-family: 'Roboto';
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    margin-top: 0%;
}

.under_headline
{
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.headshot
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 25%; 
    width: 25%;
    border-radius: 50%;
}

.quicklinks
{
    justify-content: center;
    margin-right:3%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.quicklinks ul li
{
    display:inline-block;
    margin: 1rem 2rem
}

.quicklinks ul li a
{
    font-size: 3rem;
    color: black;
}
.quicklinks ul li a:hover
{
    color: rgb(255, 0, 89);
}

.about {
    margin-top: 5%;
    padding: 1%;
    background-color: rgba(249, 249, 255, 0.471);
}

.about-title {
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    font-size:4rem;
}
.something-div
{
    display:flex;

}
.about-section
{
    flex:1;
    width:50%;
    text-align: justify;

}

.about-section h1
{
    font-family: 'Roboto';
    font-size: 2.4rem;
}

.image-in-class-div
{
    flex:1;
    width:25%; height: 25%;
    display: inline-block;
}

.image-in-class-div img
{
    margin-left:30%;
    width:60%; height:60%;
    border-radius: 10%;
}

.skills-title
{
    padding-top: 6%;
    font-family: 'Roboto';
    font-size:3.5em;
    justify-content: center;
    text-align: center;
}

.programs
{
    margin-top:-10%;
    margin-bottom: 10%;
    padding:-100%;
    display:grid;
    grid-template-rows: 15rem 15rem;
    grid-template-columns: 18rem 18rem 18rem 18rem;
    margin:none;
}

.programs img
{
    object-fit: cover;
   transform:scale(0.3);
   border-radius:50%;
   transition: all 1s;
}

.programs img:hover
{
    
    transform:scale(0.5);
}

.experience
{
    margin-top: 5%;
    background-color: rgba(249, 249, 255, 0.471);

}

.experience-title
{
    padding-top:5%;
    text-align: center;
    font-family: 'Roboto';
    font-size: 3.5em;
}

.cmc-title {
    font-size: 3rem;
    font-family: 'Roboto';
    display: inline-block;
    position: relative;
    padding-top: -3%;
    padding-left: 2%;
    color: rgb(255,0,89);
  }
  
  .cmc-title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7px;
    bottom: 0;
    left: 2%;
    background-color:rgb(255, 0, 89);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cmc-title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .job-desc
  {
    margin-top:-2%;
    padding-left:2%;
    font-family: 'Roboto';
    font-size: 2.4rem;
  }

  .work-desc
  {
    font-weight: bolder;
    font-family: 'Roboto';
    font-size: 1.5rem;
  }

  .work-desc li
  {
    margin-top:2%;
  }

  .projects
  {
    margin-top:5%;
    background-color: rgba(249, 249, 255, 0.471);
  }
  .projects-title
  {
    padding-top:5%;
    font-family: 'Roboto';
    font-size: 3.5rem;
    text-align: center;

  }

.slideshow-container {
  width: 85%;
  position: relative;
  margin: auto;
}

.slideshow-container img
{
    object-fit: cover;
    border-radius: 13%/25%;

}

.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.title {
  color: #000000;
  font-size: 6rem;
  font-family: 'Roboto';
  font-weight:bolder;
  padding: 8px 12px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 100%;
  text-align: left
}
.title a
{
    color: black;
}

.title a:hover
{
    color:rgb(255, 0, 89);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.copyright-info-bottom
{
    margin-top:15%;
}
.copyright
{   text-align: center;
    justify-content: center;
    font-family: 'IBM Plex Sans';
    margin-top:-1%;
    font-size: 1rem;
}